body {
    font-family: Arial, sans-serif; 
    color: #A0A0A0;
}

.container {
    margin-top: 50px;
    border-radius: 10px;
    padding: 20px;
    background-color: #f8f9fa;
}

h1 {
    text-align: center;
    color: #5CC6BA;
}

.form-group, .custom-range {
    margin-bottom: 20px;
}

.btn {
    display: block;
    width: 100%;
}

#result {
    font-size: 1.2em;
    color: #5CC6BA;
    font-weight: bold;
    text-align: center;
}

input[type=range] {
    cursor: pointer;
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 15px; /* Specified height */
    border-radius: 5px;  
    background: #d3d3d3; 
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

input[type=range]:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background:#5CC6BA; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%; 
}

input[type=range]::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #5CC6BA; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
}
